{% extends 'base.html.twig' %}

{% block title %}Détails de la Région{% endblock %}

{% block body %}
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Détails de la Région</h3>
                    </div>
                    <div class="card-body">
                        <div class="datagrid">
                            <div class="datagrid-item">
                                <div class="datagrid-title">ID</div>
                                <div class="datagrid-content">{{ region.id }}</div>
                            </div>
                            <div class="datagrid-item">
                                <div class="datagrid-title">Nom</div>
                                <div class="datagrid-content">{{ region.nom }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{{ path('app_region_edit', {'id': region.id}) }}" class="btn btn-primary">
                            <i class="fas fa-edit me-2"></i> Modifier
                        </a>
                        <a href="{{ path('app_region_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-2"></i> Retour à la liste
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}